	

	.triangulo{
		width: 0;
		height: 0;
		border-bottom: 150px solid orange;
		border-right: 150px transparent solid;
		border-left: 150px transparent solid;
		bottom: 100%;
		position: absolute;
		
        }

       .cuadrado{
		width: 300px;
		height: 300px;
		background-color: blue;
		top: 150px;
		position: relative;
		left: 400px;

        }


    .puerta{
    	position: absolute;
    	width: 140px;
    	height: 170px;
    	background-color: pink;
    	top: 130px;
    	left: 80px;
     }

     .chimenea{
     	background-color: orange;
     	width: 60px;
     	height: 90px;
     	left: 240px;
     	bottom: 30%;
     	position: relative;

     }

     .manilla{

     width: 30px;
     height: 30px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #5cb85c;
     left: 80px;
     position: absolute;
     top: 80px;
     }

     .humo{
   
     width: 50px;
     height: 50px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: grey;
     bottom: 130%;
     position: absolute;
     left: 300px;


     }

